# Ignore everything
*
spsc/*
spsc/test/*
spsc/benchmark/*

# Do not ignore these files
!CMakeLists.txt

!spsc

!spsc/CMakeLists.txt
!spsc/debug.h
!spsc/vector.h
!spsc/vector.c
!spsc/main.c

!spsc/test
!spsc/test/CMakeLists.txt
!spsc/test/spsc_tests.cpp

!spsc/benchmark
!spsc/benchmark/CMakeLists.txt
!spsc/benchmark/spsc_benchmark.cpp